// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #000814;

// Override Bootstrap color system

$orange: #c49d8d;

$blue: #1b263b;

// Override Bootstrap default state colors

$primary: $blue;

